/* BASE */
$font-size: 16;
$margin: 0;
$padding: 0;
$bg-color: #205c7e;
$color: #fff;
/* END BASE */
/* HEADER */
$font-size-heder: 2 * $font-size;
$font-family: 'Yesteryear', cursive;
/* END HEADER */
/* SECTION */
$width: 200px;
$background-color-list: #e3e3e3;
$border-radius: 4px;
$bg-color-new-list: #628DA4;
$padding-list: 10;
$font-weight: 700;
$font-family-list: Helvetica, Arial, Sans-Serif;
$width-remove: 15;
$height-remove: 15;
$width-small: 10;
$height-small: 10;
$color-list: #205c7e;
$bg-color-card: #fff;
$color-header-link: #fff;
$color-header-link-hover: #e3e3e3;
/* END SECTION */
